
backend/backend/pookierookies-backend.pem
backend/backend/PookieRookies-User_accessKeys.csv
backend/firebase_key.json
backend/credentials.json
venv/
# Ignore compiled Python files
*.pyc
__pycache__/
backend/token.json
