/* Container for the entire page */
.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* white to blue gradient */
  /* background: linear-gradient(to right, #e3f2fd, #bbdefb); */
  /* static pastel rainbow gradient */
  /* background: linear-gradient(to right, #c6baf9, #e3c4c4, #feddc3, #dfe3c4, #c6eec5, #a8d3f5); */
  background: linear-gradient(120deg, #c6baf9, #e3c4c4, #feddc3, #dfe3c4, #c6eec5, #a8d3f5);
  /* background-size: 300% 300%;
  animation: gradientAnimation 15s ease infinite; */
}

/* Card container */
.signin-card {
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }

/* Header section */
.signin-header h2 {
  color: #223f6b;
  /* color: #596169; */
  margin-bottom: 10px;
}

.signin-header p {
  color: #555;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Form styles */
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signin-form input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signin-form input:focus {
  outline: none;
  border-color: #596169;
  box-shadow: 0 0 5px rgba(14, 42, 74, 0.5);
}

/* Button styles */
.signin-form button {
  padding: 12px;
  /* background: #4a90e2; */
  background: #6986aa;
  /* background: #848d99; */
  /* background: #438099; */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signin-form button:hover {
  background: #223f6b;
  ;
}

/* Google Login Button */
.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 10px;
  }
  
  .google-login-button img {
    width: 20px;
    height: 20px;
  }
  
  .google-login-button:hover {
    background: #f1f1f1;
    border-color: #ccc;
  }  


/* @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */